<div>
  <div>
    <h1>
      User #<%= @the_user.id %> details
    </h1>

    <div>
      <div>
        <a href="/users">
          Go back
        </a>
      </div>

    <dl>
      <dt>
        Private
      </dt>
      <dd>
        <%= @the_user.private %>
      </dd>

      <dt>
        Followers
      </dt>
      <dd>
        followers 
      </dd>

      <dt>
        Following
      </dt>
      <dd>
        following
      </dd>
  </div>
</div>

<hr>


<h1>>Own photos</h1>
